*{
box-sizing:border-box;
font-family:Arial;
}


body{
margin:0;
background:#0e1621;
color:white;
}


.app{

display:flex;
height:100vh;

}



/* левая часть */

.sidebar{

width:350px;
background:#17212b;
border-right:1px solid #333;

}


.header{

padding:15px;
display:flex;
justify-content:space-between;
align-items:center;

}


.header h2{

font-size:20px;

}


#premium{

background:#ffd700;
border:0;
padding:8px 12px;
border-radius:15px;
cursor:pointer;

}


#search{

margin:10px;
width:calc(100% - 20px);
padding:12px;

border-radius:20px;
border:0;

background:#242f3d;
color:white;

}



.chat-item{

padding:15px;

display:flex;
gap:15px;

cursor:pointer;

}


.chat-item:hover{

background:#202b36;

}


.avatar{

width:45px;
height:45px;

border-radius:50%;

background:#3390ec;

display:flex;
align-items:center;
justify-content:center;

}



/* окно чата */


.chat-window{

flex:1;
display:flex;
flex-direction:column;

}



.chat-header{

height:60px;
background:#17212b;

padding:20px;

font-size:18px;

}



#messages{

flex:1;
padding:20px;
overflow:auto;

}



.message{

max-width:60%;
padding:10px;

margin:8px;

border-radius:15px;

background:#182533;

}



.my-message{

margin-left:auto;
background:#2b5278;

}



.send-box{

display:flex;
padding:10px;

background:#17212b;

}



#messageInput{

flex:1;

padding:12px;

border-radius:20px;

border:0;

background:#242f3d;

color:white;

}



#send{

margin-left:10px;

border:0;

border-radius:50%;

width:45px;

background:#3390ec;

color:white;

font-size:20px;

}